.interests-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--electric-green);
    font-weight: bold;
    background-color: var(--light-navy);
    padding: 0 15%;
    height: 100vh
    

}


.checklist-container {
    background-color: var(--green-bright);
    text-align: center;
    --tw-text-opacity: 1; 
    color: var(--green-bright);
}

