.nav {
    margin-right: 55%;
}

.link-label {
    color: #F2FCFC;
    font-family: 'Chivo-SemiBold';
    transition: color 0.3s ease, margin-right 0.3s ease;
    
}

.link-label:hover {
    color: #B399FF; 
    margin-right: 20px; /* Adjust to control the extent of extension */
}

.header {
    /* color: #B399FF; */
    color: var(--bs-indigo-100);
    margin-top: 125px;
    font-size: 19px
  }
  
  #intro {
    font-family: 'Chivo-SemiBold';
    font-size: 2.5em;
  }
  
  #pitch {
    color: var(--bs-indigo-100);
    font-family: 'Chivo-Light';
    font-size: 1.25em;
    font-family: 'Chivo-SemiBold';
  }

  .text {
    margin-bottom: 5px;
    padding: 0;
  }

  .menu {
    font-size: 22px;
  }

@font-face {
    font-family: 'Chivo-SemiBold';
    src: url('../assets/fonts/Chivo-SemiBold.ttf') format('truetype');
    font-weight: 600; 
}

@font-face {
    font-family: 'Chivo-Regular';
    src: url('../assets/fonts/Chivo-Regular.ttf') format('truetype');
    font-weight: 600; 
}

@font-face {
    font-family: 'Chivo-Light';
    src: url('../assets/fonts/Chivo-Light.ttf') format('truetype');
    font-weight: 600; 
}